<div id="profile-text">
    <h2>your profile</h2>
    <h1 id="username"></h1>
    <ul>
        <li id = "all">all</li>
        <li id = "currentPlay">currently playing</li>
        <li id = "wantToPlay">want to play</li>
        <li id = "alreadyPlayed">completed</li>
    </ul>
</div>

<div id="card-gallery"></div>




