<video id="videoBG" autoplay muted loop>
    <source src="/images/BGtest.mp4" type="video/mp4">
</video>

<div id="settings-container">
    <h2>your account</h2>
    <h1>settings</h1>

    <a href="/profile/update">update username / mail</a>
    <a href="/profile/update-password">update password</a>
    <a href="/profile/delete">delete your account</a>
</div>