
<div id="all-container">
    <div id="update-password-container">
        <h1>Update your password below</h1>

        <form action="/profile/update-password" method="POST">
            <label for="formerPassword">Former password</label>
            <input name="formerPassword" id="formerPassword" type="password" placeholder="former password"
                value="">

            <label for="newPassword">New password</label>
            <input name="newPassword" id="newPassword" type="password" placeholder="new password"
                value="">

            <button>
                <img src="/images/create-user-icon.svg" alt="">
                Update password
            </button>
        </form>
    </div>
</div>