<video id="videoBG" autoplay muted loop>
    <source src="/images/BGtest.mp4" type="video/mp4">
</video>

<div id="all-container">
    <div id="signup-container">
        <p>want to change your username/email?</p>
        <a href="/profile/update-password">click here to update it<img id="sign-in-icon" src="/images/auth-arrow.svg" alt=""></a>

        <h1>update</h1>

        <form action="/profile/update-password" method="POST">
        {{> flash_message}}
            <label for="formerPassword">Former password</label>
            <input name="formerPassword" id="formerPassword" type="password" placeholder="former password"
                value="">

            <label for="newPassword">New password</label>
            <input name="newPassword" id="newPassword" type="password" placeholder="new password"
                value="">

            <button>
                <img src="/images/create-user-icon.svg" alt="">
                Update password
            </button>
        </form>
    </div>
</div>