<div id="card-container" style="background-image: url('https://static-assets-prod.epicgames.com/fortnite/static/webpack/8f9484f10eb14f85a189fb6117a57026.jpg');">
    {{!-- link to game detail page --}}
    <a href=""></a>
    <div id="card-content">
        <div id="top-content">
            
        </div>
        <div id="bottom-content">

        </div>
    </div>
</div>