{{!-- BGtest moins lourd en attendant le déploiement  --}}
<video playsinline id="videoBG" autoplay muted loop>
    <source src="/images/BGtest.mp4" type="video/mp4">
</video>

<div id="main-container">
    <div id="title-home-container">
        <h1>find the <br> best games.</h1>
        <h2>and collect them all</h2>
    </div>

    <div id="main-search-container">
        <input id="main-search-bar" type="text" placeholder="Look for a game...">
        <img src="/images/search-icon.svg" alt="">
        <ul id="drop-down-searchbar"></ul>
    </div>

    <section class="genre-gallery">
        <h4>RPG</h4>
        <div id="card-gallery">
            {{#each rpgGames}}
                {{> gameCard}}
            {{/each}}
        </div>

        <h4>SPORT</h4>
        <div id="card-gallery">
            {{#each sportGames}}
                {{> gameCard}}
            {{/each}}
        </div>

        <h4>ARCADE</h4>
        <div id="card-gallery">
            {{#each arcadeGames}}
                {{> gameCard}}
            {{/each}}
        </div>
    </section>

</div>







