<!DOCTYPE html>
<html>
  <head>
    <title>Power up 🎮</title>
    <link rel="icon" href="/images/powerup_favicon.ico" />
    <link rel='stylesheet' href='/stylesheets/fonts.css' />
    <link rel='stylesheet' href='/stylesheets/nav-bar.css' />
    {{#each css}}
      <link rel="stylesheet" href="/stylesheets/{{this}}.css">
    {{/each}}
    <script type="module" src="/javascripts/search-navbar.js"></script>
  </head>
  <body>

    {{> navBar}}

    {{{body}}}
    
  </body>
</html>
