#halo-bg {
    position: fixed;
    top: -30%;
    right: -50%;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(50% 50% at 50% 50%, #FD00E4 0%, rgba(253, 0, 228, 0) 100%);
    opacity: 0.2;
}
#main-container h1 {
    font-family: 'Din Pro 400';
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    color: #C0C2F5;
}

#card-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* justify-content: center;
    align-content: center; */
    gap: 20px;
}

