
#card-container, #card-container::before, #card-container a {
    border-radius: 8px;
    /* justify-self: center; Doesn't work with max-width value */
}

#card-container {
    position: relative;
    background-position: center;
    background-size: cover;
    max-width: 300px;
    height: 400px;
    max-height: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    filter: saturate(0.8);
}

#card-container:hover {
    filter: saturate(1.3);
    transition: all 0.13s ease-in;
    transform: scale(1.01) rotate(-1deg); 
}

#card-container::before {
    content: '';
    position: absolute;
    background-color: teal;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 3, 28, 0) 32.92%, rgba(0, 3, 28, 0.72) 100%), linear-gradient(0deg, rgba(0, 3, 28, 0.2), rgba(0, 3, 28, 0.2));
}

#card-container a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
#bottom-content, #top-content {
    position: absolute;
    width: 100%;
    padding: 17px;
    
}
.rating {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 17px;
    height: 48px;
    width: 48px;
    background-color: #389A36;
    border-radius: 12px;
}
#bottom-content {
    bottom: 0;
}

h4.card-title {
    color: #fff;
    font-family: 'Din Pro Cond 500';
    font-size: 40px;
    line-height: 42px;
    margin-bottom: 18px;
}
p{
    color: #fff;
    font-family: 'Din Pro Cond 500';
}

.card-genres {
    margin-bottom: 22px;
}
.tag-genre {
    padding: 4px 12px;
    font-size: 11px;
    line-height: 26px;
    text-transform: uppercase;
    border: 1px solid #C0C2F5;
    color: #C0C2F5;
    border-radius: 20px;
    margin-right: 5px;
}

p.card-platforms {
    font-size: 14px;
    line-height: 15px;
    color: #C0C2F5;
    text-transform: uppercase;
}
.split-dash:not(:last-of-type):after {
    content: '-';
}
