* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: rgba(0, 3, 28, 1);
}

#main-container {
  margin: 0 80px;
}

/* VIDEO BACKGROUND  */

#videoBG {
  position: absolute;
  top: 0; 
  z-index: -1;
  width: 100%;
}

/* TITLE HOME PAGE */

#title-home-container {
  text-transform: uppercase;
}

#title-home-container h1 {
  margin-bottom: 16px;
  font-family: 'Din Pro 900';
  font-size: 110px;
  line-height: 84%;
  color:rgba(240, 240, 255, 1);
  user-select: none;
  animation: text-appear 1s;
}

#title-home-container h2 {
  margin-bottom: 52px;
  font-family: 'Din Pro 500';
  font-size: 32px;
  line-height: 100%;
  color: rgba(192, 194, 245, 1);
  user-select: none;
  animation: text-appear2 1s;
}

@keyframes text-appear {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes text-appear2 {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* SEARCH BAR  */

#main-search-container {
  position: relative;
  width: 80%;
  transition: width 0.2s ease-in;
}

#main-search-container img {
  position: absolute;
  top: 38px;
  right: 40px;
}

#main-search-bar {
  width: 100%;
  padding: 28px 24px;
  background-color: rgba(0, 3, 28, 0.6);
  border-radius: 1000px;
  border: 1px solid rgba(192, 194, 245, 0.3);
  font-family: 'Din Pro 400';
  font-size: 28px;
  line-height: 38px;
  color: rgba(255, 255, 255, 1);
}

#main-search-bar::placeholder {
  color: rgba(192, 194, 245, 0.4);
}

#main-search-bar:focus {
  outline: none;
}

/* DROP DROWN  */

#drop-down{
  list-style: none;
  padding-left: 30px;
  color: rgba(192, 194, 245, 0.4);
  font-family: 'Din Pro 400';
 
}

#drop-down li{
cursor: pointer;
}

@media only screen and (max-width: 700px) {
  #title-home-container h1 {
    font-size: 45px;
    line-height: 84%;
  }

  #title-home-container h2 {
    font-size: 24px;
    line-height: 100%;
  }

  #main-search-bar {
    font-size: 20px;
    line-height: 38px;
  }
}