.msg {
  padding: 12px;
  font-family: 'Din Pro 400';
  border-radius: 12px;
  margin-bottom: 24px;
  text-transform: uppercase;
  text-align:center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.msg.error {
  color: #F55858;
  background: rgba(245, 88, 88, 0.2);
  border: 1px solid #F55858;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
}

.msg.error a {
  color: #F55858;
  text-decoration: underline;
}

.msg.success {
  background: rgba(88, 245, 226, 0.2);
  border: 1px solid #58F5E2;
  box-sizing: border-box;
  color:#58F5E2; 
  backdrop-filter: blur(8px);
  
}


