/* NAV BAR  */

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 60px 80px;
}
  
#nav-bar #auth-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-navbar {
    display: flex;  
}

#search-navbar #auth-icon, #small-search-input {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid rgba(192, 194, 245, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
}

#logo-navbar {
    opacity: 0.4;
    transition: all 0.2s ease-out;
}

#logo-navbar:hover {
    opacity: 0.8;
    transform: scale(1.04);
}
  
/* SMALL SEARCH BAR  */

#small-searchbar-container {
    position: relative;
    margin-right: 16px;
}

#small-search-input {
    cursor: pointer;
    font-family: 'Din Pro 400';
    font-size: 18px;
    line-height: 38px;
    color: rgba(255, 255, 255, 1);
    transition: width 0.3s ease-out;
    padding: 28px 24px;
}

#small-search-input:focus {
    width: 40vw;
}

#small-search-input:focus {
    outline: none;
}

#small-search-input + img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* AUTH WIDGET  */

#auth-icon {
    position: relative;
    cursor: pointer;
}

#auth-widget {
    position: absolute;
    top: 80px;
    right: 0;
    width: 190px;
    background-color: rgba(192, 194, 245, 0.2);
    padding: 14px 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.28);
    border-radius: 12px;
    z-index: 1000;
}

#auth-widget a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: 'DIN Pro 400';
}

#auth-widget a:not(:last-child) {
    margin-bottom: 15px;
}

.hide {
    display: none;
}