<div id="main-container">
    <h2 id="result-for">results for:</h2>
    <h1 id="result-search-title">{{query}}</h1>
    <section id="card-gallery">
        {{#each games}}
            {{> gameCard}}
        {{/each}}
    </section>
</div>